<div class="d-flex pt-3 pb-3">
  <div class="list-title">Your List</div>

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <button type="button" name="options" id="filterAll" class="btn btn-primary active" autocomplete="off">All</button>
      <button type="button" name="options" id="filterComplete" class="btn btn-primary" autocomplete="off">Complete</button>
      <button type="button" name="options" id="filterIncomplete" class="btn btn-primary" autocomplete="off">Incomplete</button>
  </div>

  <!-- Button trigger modal -->
  <div class="top">
  <button type="button" class="btn btn-primary modal-launch" data-toggle="modal" data-target="#create">
    Add new item
  </button>
<!--  <button class="btn btn-primary " id="get-memories">View My Memories</button> -->

  <!-- Modal -->
  <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new list item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-body">
            <form class="create-list-item">
              <input class="form-control" type="text" name="listItem[title]" placeholder="title"/>
              <textarea class="form-control" type="text" name="listItem[description]" placeholder="description">{{listItem.description}}</textarea>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" data-id="{{listItem._id}}" class="btn btn-info create-list-item">Create</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <p id="create-list-feedback"></p>
        </div>
      </div>
    </div>
  </div>
</div>
