@import '~bootstrap/scss/bootstrap';


h1 {
  color: white;
  margin: 30% 6%;
  text-align: center;
  font-size: 80px;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("bucket.jpg");
  background-image: url("../../images/bucket.jpg");
}

// .loggedIn {
//   opacity: 0.6;
//   height: 100%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-image: none;
//   background-color: white;
//   background: white;
// }

.landing {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
	text-align: center;
  justify-content: center;
  margin: 15% 30%;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.nav {
  justify-content: space-around;
  position: fixed;
  top: 0;
}

.visibleButtons {
  flex-direction: row;
}
.container {
 flex-direction: column;
 justify-content: center;
 margin: 0 auto;
 flex-wrap: wrap;
 display: flex;
 margin-top: 4%;
}

.item {
 margin: 0 auto;
 flex-wrap: wrap;
 display: flex;
 margin: 0 10%;
 border: 2px solid #ff6600;
 text-align: center;
 flex-direction: column;
}

.btn {
  flex-direction: row;
}

.top {
 justify-content: center;
 text-align: center;
 margin: auto;
}

.list-title {
 font-size: 30px;
 margin: auto;
}

#message {
 font-size: 20px;
 margin: auto;
 justify-content: center;
 text-align: center;
 margin: auto;
}

.hide-ps {
  display: none;
}
