@import '~bootstrap/scss/bootstrap';


.content:after {
  content: '';
  display: block;
  clear: both;
}

.button-group {
  margin-bottom: 20px;
  background-color: inherit;
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 20px;
}

.button-group:after {
  content: '';
  clear: both;
}

.content {
  background-color: #FFF2F0;
  // display: flex;
  // flex-flow: row wrap;
//  display: flexwrap;
  margin: 0 auto;
  color: black;
  justify-content: space-evenly;
  cursor: pointer;
  margin: -1px;
  outline: none;
  padding: 1.5rem;
  font-family: 'Merriweather', serif;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}

// styles filter buttons
.dropbtn {
  align-text: centered;
  background-color: grey;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.dropdown-content {
  vertical-align: middle;
  // display: none;
//  position: absolute;
  background-color: #FFF2F0;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropbtn {
  display: block;
}


h1 {
  color: white;
  margin: 30% 6%;
  text-align: center;
  font-size: 80px;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #FFF2F0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("bucket.jpg");
  background-image: url("../../images/bucket.jpg");
}

.completed {
  text-decoration: line-through;
}

.landing {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
	text-align: center;
  justify-content: center;
  margin: 15% 30%;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.nav {
  justify-content: space-around;
  position: fixed;
  top: 0;
}

.visibleButtons {
  flex-direction: row;
}
.container {
 flex-direction: column;
 justify-content: center;
 margin: 0 auto;
 flex-wrap: wrap;
 display: flex;
 margin-top: 4%;
}

.item {
 margin: 0 auto;
 flex-wrap: wrap;
 display: flex;
 margin: 0 10%;
 border: 2px solid #ff6600;
 text-align: center;
 flex-direction: column;
}

.btn {
  flex-direction: row;
}

.top {
 // justify-content: center;
 text-align: center;
 margin: auto;
}

.list-title {
 font-size: 30px;
 margin: auto;
}

#message {
 font-size: 20px;
 margin: auto;
 justify-content: center;
 text-align: center;
 margin: auto;
}

.hide-ps {
  display: none;
}
